<table class="table">
  <thead>
  <tr>
    <th scope="col">Employee ID</th>
    <th scope="col">Name</th>
    <th scope="col">Pay Rate</th>
    <th scope="col">Period Pay</th>
    <th scope="col">Clocked In</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employeeData;">
    <td>{{ employee.id }}</td>
    <td>{{ employee.user }}</td>
    <td>{{ employee.payRate }}</td>
    <td>{{ employee.totalPay }}</td>
    <td>{{ employee.clocked }}</td>
    <button class="btn btn-default"
            (click)="clockEmployeeInOrOut(employee.id)">Clock In/Out
    </button>
  </tr>
  </tbody>
</table>

